body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* envelope */
.envelope {
  display: flex;
  position: relative;
  height: 3in;
  width: 5in;
  border: 0.1rem solid black;
  margin: 1rem;
}
.fullName {
  font-weight: bold;
}

.from-person {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.to-person {
  align-self: center;
  /* padding-left: 3rem; */
  margin-left: 3rem;
  margin-top: 1.5rem;
}

.stamp {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

/* credit card */
.card {
  margin: 1rem;
  height: 2in;
  width: 3in;
  border: 0.1rem rgb(29, 67, 236);
  border-style: solid;
  border-radius: 0.8rem;
  background-color: rgb(29, 67, 236);
  position: relative;
}

.card-bank {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.card-holder {
  position: absolute;
  bottom: 0px;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-number {
  font-weight: 800;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding: 100px 30px 0px;
}

.card-number-initials {
  font-size: small;
  padding-left: 30px;
}

.valid-thru {
  position: absolute;
  color: rgb(120, 120, 120);
  font-size: 0.5rem;
  left: 110px;
}

.card-expiration {
  position: absolute;
  left: 140px;
  font-size: small;
}

/* Poster */
.poster {
  width: 400px;
  height: 400px;
  background-color: rgb(33, 53, 53);
  position: relative;
}

.poster > * {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.poster-image {
  width: auto;
  height: auto;
  top: 0;
  margin: auto;
}

.text {
  display: flex;
  justify-content: center;
}

.poster-title {
  color: orange;
  padding: 1rem;
  font-style: italic;
}

.poster-text {
  color: limegreen;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: large;
}

/* email */
.email {
  display: flex;
  position: relative;
  border: 0.5px solid grey;
  width: inherit;
  height: 5rem;
}

.email-message {
  position: absolute;
  bottom: 0;
  margin: auto;
  padding-left: 4rem;
}

.email-info {
  display: flex;
  padding-bottom: 2rem;
  padding-left: 2rem;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.email-date {
  right: 0;
  margin-right: 0;
  float: right;
}

.email-select {
  left: 0;
  border: 0.2px solid grey;
  color: beige;
}

.email-pin {
  left: 0;
  padding-left: 3rem;
  color: grey;
}

.email-message {
color: grey;
}