body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* error box */
.error-box {
  border: 0.2px solid red;
  border-radius: 1rem;
  background-color: lightcoral;
  height: 5rem;
  width: 20rem;
  display: flex;
}
.child-text {
  color: rebeccapurple;
  position: absolute;
  left: 2rem;
  top: 1rem;
}

/* nav */
.separator {
  padding: 1rem;
}