.tweet {
  border: 1px solid #ccc;
  width: 564px;
  min-height: 68px;
  padding: 10px;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-right: 12px;
}
.name {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.handle {
  color: #81878b;
  font-size: 13px;
  font-style: italic;
}
.time {
  padding-left: 0.3em;
  color: #81878b;
}
.time::before {
  content: "\00b7";
  font-weight: bolder;
  padding-right: 0.3em;
}
.buttons {
  margin-top: 10px;
  margin-left: 2px;
  font-size: 1.4rem;
  color: #aab8c2;
}
.buttons i {
  width: 100px;
}
.options-button {
  margin-left: 100px;
}